.header-name {
    background-color: rgb(255, 153, 0);

}

.burgers {
    background-color: whitesmoke;
    justify-content: center;
    text-align: center;
    flex: content;
}

.burger {
    justify-content: center;
    text-align: center;
    height: 25rem;
    width: 25rem;
    flex: content;
}
